/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'nunito'; }

h1 {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.1;
  margin: 10px 0; }

h3 {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  margin: 20px 0 10px 0; }

h4 {
  font-size: 18px;
  line-height: 1.1; }

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero_background.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  border-top: solid 10px #2aabe2; }
  .hero .dm-logo {
    position: absolute;
    z-index: 2;
    height: 50px;
    left: 30px;
    top: 30px; }
  .hero .hero-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch; }
    .hero .hero-container .hero-text {
      margin-top: 110px;
      color: white;
      text-align: center; }
      .hero .hero-container .hero-text h3 {
        letter-spacing: .2px; }
      .hero .hero-container .hero-text .watchourvideo {
        margin-top: 125px; }
      .hero .hero-container .hero-text img {
        position: relative;
        top: 15px; }
      .hero .hero-container .hero-text p {
        text-transform: uppercase;
        line-height: 40px;
        display: inline-block;
        margin-left: 10px;
        margin-bottom: 0;
        color: #2aabe2; }

.companies {
  padding: 20px 0;
  text-align: center;
  border-bottom: solid 10px #2aabe2; }
  .companies h3 {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px; }
  .companies .companies-container {
    padding: 25px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch; }
    .companies .companies-container img {
      height: 50px; }

.sidebar {
  width: 300px;
  height: calc(100vh - 20px);
  float: left;
  border-right: 2px solid #DDDDDD;
  position: sticky;
  top: 20px; }
  .sidebar .dm-logo {
    margin-top: 39.5px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    height: 44px; }
  .sidebar ul.navigation-links {
    margin-left: 40px;
    margin-bottom: 10px; }
    .sidebar ul.navigation-links li a {
      text-decoration: none;
      list-style: none;
      font-size: 16px;
      color: black;
      line-height: 50px;
      text-transform: uppercase;
      font-weight: 700;
      width: 250px; }
    .sidebar ul.navigation-links li:hover a {
      color: #2aabe2; }

.main-content {
  height: auto; }
  .main-content .content {
    padding: 100px 100px 100px 400px; }
    .main-content .content h1 {
      color: #2aabe2;
      font-weight: 600; }
    .main-content .content .whatmakes-item {
      margin-bottom: 20px; }
      .main-content .content .whatmakes-item .whatmakes-logo {
        float: left; }
      .main-content .content .whatmakes-item h3 {
        font-size: 18px;
        color: black;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 20px 0 25px 90px; }
      .main-content .content .whatmakes-item p {
        padding: 0 180px 20px 90px;
        line-height: 1.4; }
  .main-content .slider {
    margin: 0px 0px 0px 200px;
    padding: 0 0 0 100px; }
    .main-content .slider .slider-container {
      background: url("https://i.ytimg.com/vi/_vPxFJxYtmc/maxresdefault.jpg");
      background-size: cover;
      height: 600px;
      background-color: #dddddd;
      padding: 0 0 0 100px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: stretch; }
      .main-content .slider .slider-container .text-container {
        text-align: center;
        margin: auto;
        width: 600px; }
        .main-content .slider .slider-container .text-container h1 {
          color: white; }
        .main-content .slider .slider-container .text-container p {
          color: white;
          font-size: 22px;
          line-height: 1.4;
          margin-bottom: 20px; }
        .main-content .slider .slider-container .text-container .play-section {
          margin-top: 85px; }
          .main-content .slider .slider-container .text-container .play-section img {
            float: left;
            position: relative;
            left: 212px;
            top: -10px; }
          .main-content .slider .slider-container .text-container .play-section p {
            color: #2aabe2;
            font-size: 16px;
            text-transform: uppercase; }
  .main-content .our-course {
    background-color: #2aabe2;
    margin: 0px 0px 0px 300px;
    padding: 100px 0 100px 100px; }
    .main-content .our-course h1 {
      color: white;
      font-weight: 600; }
    .main-content .our-course .ourcourse-item .ourcourse-logo {
      float: left; }
    .main-content .our-course .ourcourse-item h3 {
      font-size: 18px;
      color: white;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 700;
      padding: 20px 0 25px 90px; }
    .main-content .our-course .ourcourse-item p {
      padding: 0 180px 20px 90px;
      line-height: 1.4;
      color: white;
      margin-bottom: 20px; }
    .main-content .our-course .ourcourse-item button {
      color: white;
      background: transparent;
      padding: 10px 15px;
      text-transform: uppercase;
      margin: 0 180px 20px 90px;
      border: 2px solid white;
      font-size: 16px;
      font-weight: 300; }
      .main-content .our-course .ourcourse-item button:hover {
        background-color: white;
        color: #2aabe2; }
  .main-content .join {
    margin: 0px 0px 0px 300px;
    padding: 50px 50px 50px 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch; }
    .main-content .join p {
      font-size: 18px;
      text-transform: uppercase;
      line-height: 1.5;
      text-align: center;
      font-weight: 700; }
    .main-content .join span.blue {
      color: #2aabe2;
      @extends p; }
    .main-content .join div.icons {
      margin-top: 30px; }
      .main-content .join div.icons a {
        letter-spacing: 1px; }
        .main-content .join div.icons a img {
          margin: 0 20px; }

/*# sourceMappingURL=main.css.map */
