@import 'reset.scss';

$phone: 400px;
$tablet: 768px;
$desktop: 1024px;

$blue: #2aabe2;
// ----- Default Styles -----
body {
    font-family: 'nunito';
    width: 100%;
}

h1 {
    font-size: 50px;
    font-weight: 400;
    line-height: 1.1;
    margin: 10px 0;
}
h2 {}

h3 {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    margin: 20px 0 10px 0;
}
h4 {
    font-size: 18px;
    line-height: 1.1;
}
p {
    
}


// MAIN STYLES

// HERO SECTION
.hero {
     height: 100vh;
        width: 100%;
    background: linear-gradient(
       rgba(0,0,0, .6 ),
       rgba(0,0,0, .6),
    ), 
    url('../img/hero_background.jpg') center no-repeat;
    background-size: cover;
    position: relative;
    border-top: solid 10px $blue;

    .dm-logo {
        position: absolute;
        z-index: 2;
        height: 50px;
        left: 5%;
        top: 30px;
    }

    .hero-container {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        .hero-text {
            //margin-top: 110px;
            color: white;
            text-align: center;
            padding: 0 5%;
            h1 {
                @media (max-width: $tablet){
                    font-size: 32px;
                }
            }
            h3 {
                letter-spacing: .2px;
            }
            .watchourvideo {
                margin-top: 125px;
            }
            img {
                position: relative;
                top: 15px;
            }
            p {
                text-transform: uppercase;
                line-height: 40px;
                display: inline-block;
                margin-left: 10px;
                margin-bottom: 0;
                color: $blue;
            }
        }
    }
}


// COMPANY SECTIONS
.companies {
    padding: 20px 5%;
    text-align: center;
    border-bottom: solid 10px #2aabe2;

    h3 {
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 1px;
    }

    .companies-container {
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: stretch;

        .img-container {
            width: calc(100%/5);
            @media (max-width: $tablet){
                width: calc(100%/3);
            }
            @media (max-width: $phone){
                width: 100%;
            }
            img {
                padding: 25px 0;
                height: 50px;
            }
        }

        
    }
}


.wrapper {
    width: 100%;
    display: flex;
}


// SIDEBAR SECTION
.sidebar { 
    width: 300px;
    float: left;
    height: 100vh;
    padding-left: 2%;
    position: sticky;
    top: 0;

    .sidebar-container {
        position: sticky;
        top: 20px;
        width: 100%;

        .dm-logo {
            margin-top: 39.5px;
            margin-bottom: 50px;
            height: 44px;
        }
        ul.navigation-links {
            margin-left: 2%;
            margin-bottom: 10px;
    
            li {
               
                a {
                    text-decoration: none;
                    list-style: none;  
                    font-size: 16px;
                    color: black;  
                    line-height: 50px;
                    text-transform: uppercase;
                    font-weight: 700;
                    width: 250px;
                }
                &:hover {
                    a {
                        color: $blue;
                    }
                }
            }
        }
    }// END SIDEBAR CONTAINER
}// END SIDEBAR


//WHATMAKES SECTION
.main-content {
    width: 100%;
    float: right;
    border-left: 2px solid #DDDDDD;


    // CONTENT SECTION
    .content {
        max-width: 100%;
        
       .content-container {
            max-width: 100%;
            padding: 100px 5% 100px 5%;
        
            h1 {
                color: $blue;
                font-weight: 600;
            }
            .whatmakes-item {
                margin-bottom: 20px;

                .whatmakes-logo {
                    float: left;
                }
                h3 {
                    font-size: 18px;
                    color: black;  
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    font-weight: 700;
                    padding: 20px 0 25px 90px;
                }
                p {
                    padding: 0 0px 20px 90px;
                    line-height: 1.4;
                }
            }// END WHATMAKES-ITEM

       }// END CONTENT CONTAINER
    }// END CONTENT 


    .slider {
        width: 100%;
        //background-color: #dddddd;

        .slider-container {
            background: url('https://i.ytimg.com/vi/_vPxFJxYtmc/maxresdefault.jpg');
            background-size: cover;
            height: 600px;
            background-color: #dddddd;
            padding: 0 5% 0 5%;

            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: stretch;

            .text-container {
               text-align: center;
               margin: 0 auto;
               h1 {
                   color: white;
               }
               p {
                   color: white;
                   font-size: 22px;
                   line-height: 1.4;
                   margin-bottom: 20px;
               }
               .play-section {
                    margin-top: 85px;
                    padding: 0 5%;
                    position: relative;

                    img {
                        float: left;
                        position: absolute;
                        top: -10px;
                        left: 25px;
                    }
                    p {
                        color: $blue;
                        font-size: 16px;
                        text-transform: uppercase;
                    }
               }
            }// END TEXT-CONTAINER
        }// END SLIDER-CONTAINER
        
    }// END SLIDER


    .our-course {
        background-color: $blue;
        padding: 100px 5% 100px 5%;
        h1 {
            color: white;
            font-weight: 600;
        }
        .ourcourse-item {
           margin-bottom: 20px;

            .ourcourse-logo {
                float: left;
                //padding-right: 2%;
            }
            .item-container {
                padding-left: 100px;
                h3 {
                    font-size: 18px;
                    color: white;  
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    font-weight: 700;
                    padding: 20px 0 25px;
                }
                p {
                    //padding: 0 180px 20px 90px;
                    line-height: 1.4;
                    color: white;
                    margin-bottom: 20px;
                }
                button {
                    color: white;
                    background: transparent;
                    padding: 10px 15px;
                    text-transform: uppercase;
                    // margin: 0 180px 20px 90px;
                    border: 2px solid white;
                    font-size: 16px;
                    font-weight: 300;
                    &:hover {
                        background-color: white;
                        color: $blue;
                    }
                }
            }
            
        }// END WHATMAKES-LOGO
       
    }// END CONTENT 


    // JOIN SECTION
    .join {
        width: 100%;
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;

        p {
            font-size: 18px;
            text-transform: uppercase;
            line-height: 1.5;
            text-align: center;
            font-weight: 700;
        }
        span.blue {
            color: $blue;
            @extends p;
        }
        div.icons {
            margin-top: 30px;
            a {
                letter-spacing: 1px;
                img {
                    margin: 0 20px;
                }
            }
           
        }// ICONS
    }// END JOIN SECTION

    
    // STAYINTOUCH SECTION
    .stayintouch {
        background-color: #252525;
        padding: 100px 0 100px 100px;

        div.email  {
            padding: 0px 100px;
            h1 {
                color: white;
            }
            p {
                color: white;
                width: 100%;
                margin-bottom: 40px;
                line-height: 1.5;
            }
            form {
                
                input.input-style {
                    color: #252525;
                    width: 100%;
                    float: left;
                    margin-bottom: 30px;
                    text-transform: uppercase;
                    font-weight: 700;
                    padding: 15px;
                    border-radius: 1px;
                    border: none;
                    font-size: 16px;
                }
                *::-webkit-input-placeholder {
                    color: $blue;
                }
                .form-btn {
                    
                    color: $blue;
                    background: transparent;
                    padding: 10px 15px;
                    text-transform: uppercase;
                    border: 2px solid $blue;
                    font-size: 16px;
                    font-weight: 300;
                    //margin-bottom: 40px;
                    &:hover {
                        background-color: $blue;
                        color: #252525;
                    }
                }
            }
        }

        
        
    }
    //END STAYINTOUCH


    .footer-section {
        padding: 100px 0;

        .footer-container {
            padding: 0px 50px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: baseline;
            align-content: center;

            ul {
                .blue {
                    color: $blue;
                }

                li {
                    
                     a {
                         text-decoration: none;
                         list-style: none;  
                         font-size: 16px;
                         color: black;  
                         line-height: 50px;
                         text-transform: uppercase;
                         font-weight: 700;
                         width: 250px;
                         
                     }
                     &:hover {
                         a {
                             color: $blue;
                         }
                     }
                 }
            }
        }
    }

    .footer-2017 {
        border-top: 2px solid #ddd; 
        font-size: 14px;
        font-weight: 300;
        padding: 5px 20px;
    }
    
}// END WHATMAKES