@import 'reset.scss';

$blue: #2aabe2;
// ----- Default Styles -----
body {
    font-family: 'nunito';
}

h1 {
    font-size: 50px;
    font-weight: 400;
    line-height: 1.1;
    margin: 10px 0;
}
h2 {}

h3 {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    margin: 20px 0 10px 0;
}
h4 {
    font-size: 18px;
    line-height: 1.1;
}
p {
    
}


// MAIN STYLES

// HERO SECTION
.hero {
    background: linear-gradient(
       rgba(0,0,0, .6 ),
       rgba(0,0,0, .6),
    ), 
    url('../img/hero_background.jpg') center no-repeat;
    background-size: cover;
    position: relative;
    border-top: solid 10px $blue;

    .dm-logo {
        position: absolute;
        z-index: 2;
        height: 50px;
        left: 30px;
        top: 30px;
    }

    .hero-container {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
        .hero-text {
            margin-top: 110px;
            color: white;
            text-align: center;
            h1 {

            }
            h3 {
                letter-spacing: .2px;
            }
            .watchourvideo {
                margin-top: 125px;
            }
            img {
                position: relative;
                top: 15px;
            }
            p {
                text-transform: uppercase;
                line-height: 40px;
                display: inline-block;
                margin-left: 10px;
                margin-bottom: 0;
                color: $blue;
            }
        }
    }
}


// COMPANY SECTIONS
.companies {
    padding: 20px 0;
    text-align: center;
    border-bottom: solid 10px #2aabe2;

    h3 {
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 1px;
    }

    .companies-container {
       padding: 25px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: stretch;

        img {
            //padding: 25px 0;
            height: 50px;
        }
    }
}


// SIDEBAR SECTION
.sidebar {
    width: 300px;
    height: calc(100vh - 20px);
    float: left;
    border-right: 2px solid #DDDDDD;
    position: sticky;
    top: 20px;
    
    .dm-logo {
        margin-top: 39.5px;
        margin-bottom: 50px;
        margin-left: 30px;
        margin-right: 30px;
        height: 44px;
    }
    ul.navigation-links {
        margin-left: 40px;
        margin-bottom: 10px;

        li {
           
            a {
                text-decoration: none;
                list-style: none;  
                font-size: 16px;
                color: black;  
                line-height: 50px;
                text-transform: uppercase;
                font-weight: 700;
                width: 250px;
            }
            &:hover {
                a {
                    color: $blue;
                }
            }
        }
    }
}


//WHATMAKES SECTION
.main-content {
    //width: calc(100% - 300px);
    height: auto;

    .content {
        padding: 100px 100px 100px 400px;
        h1 {
            color: $blue;
            font-weight: 600;
        }
        .whatmakes-item {
            margin-bottom: 20px;

            .whatmakes-logo {
                float: left;
            }
            h3 {
                font-size: 18px;
                color: black;  
                letter-spacing: 1px;
                text-transform: uppercase;
                font-weight: 700;
                padding: 20px 0 25px 90px;
            }
            p {
                padding: 0 180px 20px 90px;
                line-height: 1.4;
            }
        }// END WHATMAKES-LOGO
       
    }// END CONTENT 

    .slider {
        //background-color: #dddddd;
        margin: 0px 0px 0px 200px;
        padding: 0 0 0 100px;

        .slider-container {
            background: url('https://i.ytimg.com/vi/_vPxFJxYtmc/maxresdefault.jpg');
            background-size: cover;
            height: 600px;
            background-color: #dddddd;
            padding: 0 0 0 100px;

            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: stretch;

            .text-container {
               text-align: center;
               margin: auto;
               width: 600px;
               h1 {
                   color: white;
               }
               p {
                   color: white;
                   font-size: 22px;
                   line-height: 1.4;
                   margin-bottom: 20px;
               }
               .play-section {
                    margin-top: 85px;

                    img {
                        float: left;
                        position: relative;
                        left: 212px;
                        top: -10px;
                    }
                    p {
                        color: $blue;
                        font-size: 16px;
                        text-transform: uppercase;
                    }
               }
            }// END TEXT-CONTAINER
        }// END SLIDER-CONTAINER
        
    }// END SLIDER

    .our-course {
        background-color: $blue;
        margin: 0px 0px 0px 300px;
        padding: 100px 0 100px 100px;
        h1 {
            color: white;
            font-weight: 600;
        }
        .ourcourse-item {
           // margin-bottom: 20px;

            .ourcourse-logo {
                float: left;
            }
            h3 {
                font-size: 18px;
                color: white;  
                letter-spacing: 1px;
                text-transform: uppercase;
                font-weight: 700;
                padding: 20px 0 25px 90px;
            }
            p {
                padding: 0 180px 20px 90px;
                line-height: 1.4;
                color: white;
                margin-bottom: 20px;
            }
            button {
                color: white;
                background: transparent;
                padding: 10px 15px;
                text-transform: uppercase;
                margin: 0 180px 20px 90px;
                border: 2px solid white;
                font-size: 16px;
                font-weight: 300;
                &:hover {
                    background-color: white;
                    color: $blue;
                }
            }
        }// END WHATMAKES-LOGO
       
    }// END CONTENT 

    // JOIN SECTION
    .join {
        margin: 0px 0px 0px 300px;
        padding: 50px 50px 50px 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;

        p {
            font-size: 18px;
            text-transform: uppercase;
            line-height: 1.5;
            text-align: center;
            font-weight: 700;
        }
        span.blue {
            color: $blue;
            @extends p;
        }
        div.icons {
            margin-top: 30px;
            a {
                letter-spacing: 1px;
                img {
                    margin: 0 20px;
                }
            }
           
        }// ICONS
    }// END JOIN SECTION

    // STAYINTOUCH SECTION
    .stayintouch {
        background-color: #252525;
        margin: 0px 0px 0px 300px;
        padding: 100px 0 100px 100px;

        div.email  {
            padding: 0px 100px;
            width: 450px;
            h1 {
                color: white;
            }
            p {
                color: white;
                width: 450px;
                margin-bottom: 40px;
                line-height: 1.5;
            }
            form {
                
                input.input-style {
                    color: #252525;
                    width: 450px;
                    float: left;
                    margin-bottom: 30px;
                    text-transform: uppercase;
                    font-weight: 700;
                    padding: 15px;
                    border-radius: 1px;
                    border: none;
                    font-size: 16px;
                }
                *::-webkit-input-placeholder {
                    color: $blue;
                }
                .form-btn {
                    
                    color: $blue;
                    background: transparent;
                    padding: 10px 15px;
                    text-transform: uppercase;
                    border: 2px solid $blue;
                    font-size: 16px;
                    font-weight: 300;
                    //margin-bottom: 40px;
                    &:hover {
                        background-color: $blue;
                        color: #252525;
                    }
                }
            }
        }

        
        
    }
    //END STAYINTOUCH

    .footer-section {
        margin: 0px 0px 0px 300px;
        padding: 100px 0 100px 0px;

        .footer-container {
            padding: 0px 50px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: baseline;
            align-content: center;

            ul {
                .blue {
                    color: $blue;
                }

                li {
                    
                     a {
                         text-decoration: none;
                         list-style: none;  
                         font-size: 16px;
                         color: black;  
                         line-height: 50px;
                         text-transform: uppercase;
                         font-weight: 700;
                         width: 250px;
                         
                     }
                     &:hover {
                         a {
                             color: $blue;
                         }
                     }
                 }
            }
        }
    }

    .footer-2017 {
        border-top: 2px solid #ddd;
        margin: 0px 0px 0px 300px;
        font-size: 14px;
        font-weight: 300;
        padding: 5px 20px;
    }
    
}// END WHATMAKES